/* 1. Impor layer dasar Tailwind */
@tailwind base;
@tailwind components;
@tailwind utilities;

/* 2. Font default WDD */
body {
  font-family: 'Inter', sans-serif;
  color: #333333; /* Sesuai 'gibei-text' */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Poppins', sans-serif;
  color: #1a4162; /* Sesuai 'gibei-primary' */
}

/* 3. PERBAIKAN: Mengembalikan durasi transisi
   ke 0.2s (200ms) sesuai preferensi Anda.
*/
.fade-enter-active,
.fade-leave-active {
  transition: opacity 0.2s ease-out;
}

.fade-enter-from,
.fade-leave-to {
  opacity: 0;
}